* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: rgb(64, 131, 255) ; 
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
  }

body {
    background: #ededed;
    color:black;
<<<<<<< HEAD
    margin: 10px;
    padding: 5;
=======
    margin: 0;
    padding: 0;
>>>>>>> 959581111a55dae9d97cea8e43478539f9993c00
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    padding: 20px 15px;
    border-bottom: 5px solid var(--primary);
<<<<<<< HEAD
    text-align: center;
}
 
.hide  {
    display: none;
    font-size: 18px;
    text-align: center;

}
=======
}

.hide  {
    display: none;

}
>>>>>>> 959581111a55dae9d97cea8e43478539f9993c00
