* {
    box-sizing: border-box;
}

:root {
    --primary: black;
    --secondary: rgb(64, 131, 255) ; 
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    font-size: 62.5%;
  }

body {
    background: #ededed;
    color:black;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
}

.hide  {
    display: none;
    font-size: 18px;

}

intro .p {
    font-size: 20px;
    }
